<p id="notice"><%= notice %></p>

<div class='edit-field'>
  <b>Title:</b>
  <%= @list.title %>
</div>

<div class='footer-links'>
<%= link_to 'Tasks', list_tasks_path(@list) %> |
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
</div>