<%= form_for([@list, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class='edit-field'>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :complete, "Complete?" %><br />
      <%= f.check_box :complete %>
    </div>
      <div class="field">
      <%= f.label :dueby, "Due By (yyyy-mm-dd):" %><br />
      <%= f.text_field :dueby %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
</div>
<% end %>
